<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align:center">Edit <%= course.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/courses/<%= course._id %>?_method=PUT" method="POST"  enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="course[name]" value="<%= course.name %>">
                </div>
                <div class="form-group">
                    <input type="file" name="image" id="image" accept="image/*" value="<%= course.image %>" required>
                </div>
                <div class="form-group">
                    <input  class="form-control" type="text" name="course[description]" value="<%= course.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <p style="text-align: center"><a href="/courses/<%= course.id %>">Go Back</a></p>
        </div>
    </div>

<% include ../partials/footer %>