<% include ../partials/header %>
<div class="row">
    <div class="pull-right col-md-3">
        <p class="lead">Course Project for 16:332:568</p>
        <div class="list-group">
            <li class="list-group-item active">Feature highlights</li>
            <li class="list-group-item">Elegant design of front-end</li>
            <li class="list-group-item">Advanced forecast algorithm</li>
            <li class="list-group-item">User-friendly review system</li>
            <li class="list-group-item">Community for all investifator</li>
        </div>
    </div>  

    <div class="col-md-9">
        <div class="thumbnail">
            <h4 style="text-align: center"><strong><%=course.name%></strong></h4>
            <div class="center-block">
                <img class="img-responsive" src="<%= course.image %>">
            </div>
            <div class="caption-full">
                <!--<h4 class="pull-right">-->
                <!--  $<%= course.price %>/night-->
                <!--</h4>-->
                <p class="pull-right">
                    <%= moment(course.createdAt).add('hours',8).format('lll')%> %>
                </p>
            
                <strong>
                    <% if (currentUser && currentUser._id.equals(course.author.id)) { %>
                    <!--If the current user owns the comment, change the color of the user icon-->
                        <span style="color: #428bca;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <% } else { %>
                        <!--Else just display it black-->
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <% } %>
                    <!--Print out the author username-->
                    <a href="/users/<%= course.author.id %>"><%= course.author.username %></a>
                </strong>
            
                <p><%= course.description %></p>
                
                <% if(currentUser && course.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-xs btn-primary" href="/courses/<%= course._id %>/edit">Edit</a>
                    <form action="/courses/<%= course._id %>?_method=DELETE" method="POST" id="delete-form">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                <% } %>
    
            </div>
        </div>
        
         <!--Review section-->
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (course.rating === 0) { %>
                        <h5>No reviews yet</h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (course.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (course.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (course.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (course.rating > 4.5) { %> checked <% } %>"></span>
                        (total reviews: <%= course.reviews.length %>)
                    </p>
                    <p>
                        Current stock rating: <strong><%= course.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this course:</h4></p>
                    <hr style="margin-top: 0;">
                    <% course.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div><a href="/users/<%= review.author.id %>"><%= review.author.username %></a></strong></div>
                            <span><%= review.updatedAt.toDateString() %></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-primary"
                               href="/courses/<%=course._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/courses/<%=course._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/courses/<%= course._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && course.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/courses/<%= course._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
                    
        <!--COMMENT SECTION START-->
        <div class="well">
            <!--Setting up the add new comment button that is used for collapsing-->
            <div class="text-left">
                <a class="pull-left btn btn-primary" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Forecast</a>
            </div>
          
            <!--Comment section title-->
            <h4 align="right"><strong>Feel Free to Share Your Forecast <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>
        
            <!--Collapse Add a comment form START-->
            <div class="collapse" id="collapseComment">
                <div class="well" style="border-left: 5px solid #357ebd;">
                    <% if(!currentUser) { %>
                        <!--If the user is not logged in, direct him to the login page-->
                        <h5>Please log in first! <a href="/login">Log In</a></h5>
                    <% } %>
                    <% if(currentUser) { %>
                        <!--If the user is logged in, show the new comment form-->
                        <h4>Edit <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
                        <form id="add-comment-form" action="/courses/<%= course._id %>/comments" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="comment[text]" placeholder="In my opinion..." form="add-comment-form" rows="5" cols="70"></textarea>
                            </div>
                            <div class="form-group">
                            <button class="btn btn-primary btn-sm">Submit <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
        <!--Collapse Add a comment form END-->
          
        <hr>
          
        <!--Check if there are comments, if there are none say no comments.-->
            <% if (course.comments.length === 0) { %>
                <style="color: grey;">No Comments Yet...
            <% } %>
            <!--Display comments by looping through them-->
            <% course.comments.forEach(function(comment) { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong>
                            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                                <!--If the current user owns the comment, change the color of the user icon-->
                                <span style="color: #357ebd;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <% } else { %>
                                <!--Else just display it black-->
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <% } %>
                            <!--Print out the author username-->
                            <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
                        </strong>
                    
                        <!--Show when the comment was made-->
                        <span class="pull-right"><%= moment(comment.createdAt).add('hours',8).format('lll') %></span>
                        
                        <!--Printing the comment-->
                        <p><%= comment.text %></p>
                        
                        <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                        <% if (currentUser && currentUser._id.equals(comment.author.id) || (currentUser && currentUser.isAdmin)) { %>
                            <!--Edit button used for collapsing the edit comment form-->
                            <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                            Edit</a>
                            <!--Delete comment button-->
                            <form id="delete-form" action="/courses/<%= course._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                            <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                    
                            <!--Edit comment form-->
                            <div class="collapse" id="collapseEdit<%= comment._id %>">
                                <div class="well" style="border-left: 5px solid #357ebd; margin-top: 15px;">
                                    <h4>Edit <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
                                    <form id="edit-comment-form<%= comment._id %>" action="/courses/<%= course._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                        <div class="form-group">
                                            <input class="form-control" type="text" disabled value="<%= currentUser.username %>says：">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm">Submit <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                        <hr>
                    </div>
                </div>
            <% }) %>
        </div>
    <!--COMMENT SECTION END-->
    </div>

</div>
<% include ../partials/footer %>